.as-page {
    width: 1050px;
    max-width: 1000%;
}

.as-h-modal {
    height: calc(100vh - 100px);
}

.as-track-icon {
    aspect-ratio: 1.8021265092809517;
    /* 0.5549; */
    max-width: 500px;
    object-fit: cover;
}

audio::-webkit-media-controls-panel {
    background-color: #e5e5e5;
    border-radius: 0;
    filter: invert(100%);
    padding: 0 25px 0 25px;
}

.as-audio-wrapper {
    overflow: hidden;

    >audio {
        width: calc(100% + 50px);
        position: relative;
        left: -25px;
        outline: none;
    }
}

.as-playlist-screen {
    flex-direction: row;

    .panel {
        flex-basis: 500px;
    }
}

@media (max-width: 1000px) {
    .as-playlist-screen {
        flex-direction: column;

        .panel {
            flex-basis: 400px;
        }
    }
}

.as-speaker-panel {
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 700px;
}

@media (max-height: 800px) {
    .as-speaker-panel {
        height: auto;
    }
}

.as-advanced-audio-button {
    right: -10px;
}

.as-volume-editor {
    &:hover, &.hover-check-force {
        background-color: rgba(255, 255, 255, 0.05);
    }
}
